
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        div{margin: 5px;}
        a {color: black;
           background-color: aquamarine;
          }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
</head>
<body>
    @ViewBag.NomeCompleto Seja bem vindo
    <div>
        <a href="/colaborador/index">Cadastro</a>
    </div>
</body>
</html>
